* {
    font-size: 11px;
    font-family: "RobotoMono Nerd Font";
    margin: -1;
}

window#waybar {
	background: #121212;
	color: #272727;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #272727;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #121212;
	background: #272727;
}

#workspaces {
    background: #272727;
    padding: 3px;
}
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: #272727;
    padding: 3px;
}

#workspaces button {
    color: #eeeeee;
}
#workspaces button.active {
    background: #eeeeee;
    color: #121212;
}

#pulseaudio {
    color: #eeeeee;
}
#memory {
	color: #eeeeee;
}
#cpu {
	color: #eeeeee;
}
#battery {
	color: #eeeeee;
}
#disk {
	color: #eeeeee;
}

#clock {
	color: #eeeeee;
}
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}

#network {
    color: #eeeeee;
    background: #272727;
    padding: 0 4px;
}    
    #bluetooth {
	color: #eeeeee;
	background: #272727;
	padding: 0 2px;
    }

#custom-lock {
	background: #272727;
	color: #eeeeee;
}
#custom-power {
	background: #272727;
	padding: 2px;
	color: #eeeeee;
}
#custom-reboot {
	background: #272727;
}
#custom-nwg-drawer {
	background: #272727;
	color: #eeeeee;
}
